<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438474764656-isp1nog8q1k8ud1njrijruttdsgccs4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438474764656-isp1nog8q1k8ud1njrijruttdsgccs4p</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ISiVLkuvrySOZn7fLWkcN_MLNdF5SYE</string>
	<key>GCM_SENDER_ID</key>
	<string>438474764656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uangin</string>
	<key>PROJECT_ID</key>
	<string>uangin-ppti11</string>
	<key>STORAGE_BUCKET</key>
	<string>uangin-ppti11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438474764656:ios:6068ae93ca153189f7dfb5</string>
</dict>
</plist>